# Default ignored files
/shelf/
/workspace.xml
/compiler.xml
/uiDesigner.xml
/jarRepositories.xml
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/libraries/*
/inspectionProfiles/*
